{% extends "base.html" %}
{% load static %}

{% block title %} Login Page {% endblock %}

{% block cssFiles %}
    <!-- <link rel="stylesheet" href="{% static 'todo/register.css' %}"> -->
{% endblock %}

{% block content %} 

<form method="post">
    {% csrf_token %}
    <h2>
        Register User Page
    </h2>
    <form method="post">
        {{form.as_p}}
        <input type="submit" value="Register">
    </form>

    <h4> Already a user? <a href="{% url 'todoPage' %}"> Login </a></h4>
    
</form>
{% endblock %} 