{% extends "base.html" %}
{% load static %}

{% block title %} To-Do List {% endblock %}

{% block cssFiles %}
    <link rel="stylesheet" href="{% static 'todo/todo.css' %}">
{% endblock %}

{% block content %} 

        <h1> To-Do List </h1>
        <div class="linkButtons">
            <a href="{% url 'enterTaskDetails' %}"><button> Add new task </button></a> 
        </div>
        
        <br>
        <div class="taskListUl">
            <table>
                <tr>
                    <th> Tasks </th>
                    <th> Time Stamp</th>
                    <th> Description </th>
                </tr>
                {% for task in tasks %} 
                <tr>       
                    <td>
                        <a href="{% url 'taskInDetail' task.pk %}">{{ task.title|title }}</a>
                    </td>
                    <td>
                        {{ task.timestamp.date }}
                    </td>
                    <td>
                        <p>
                            {{ task.description }}
                        </p>
                    </td>
                </tr>
                {% empty %}
                <h3> No items entered in the list to display. </h3>
                {% endfor %}
            </table>
            
        </div>
        
{% endblock %}